<!doctype html>
	<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Q and T</title>
	  <meta name="Upload Profile Pic" content="Adventures of QTs">
	  <meta name="Quang-Thuy Hoang" content="SitePoint">
	  <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
	</head>
	<body>
        <div>
            <p>Upload your profile picture.</p>
            <form id="upload" enctype="multipart/form-data" method="POST" action="/uploadProfile">
               <input id="fileupload" name="profilePic" type="file" />
               <input type="submit" value="submit" id="submit" />
			</form>
		</div>
		<div class="container">
			<p>Upload your profile picture.</p>
				<form class="ui form" id="userRegistration" enctype="application/x-www-form-urlencoded" method="POST" action="/register">
					<div class="field">
						<label>Email</label>
						<input type="email" name="email" placeholder="joeschmoe@email.com">
						</div>
					<div class="field">
						<label>First Name</label>
						<input type="text" name="firstname" placeholder="First Name">
					</div>
					<div class="field">
						<label>Last Name</label>
						<input type="text" name="lastname" placeholder="Last Name">
					</div>
					<div class="field">
							<label>Password</label>
							<input type="password" name="password" placeholder="password">
							</div>
					<div class="field">
						<label>Gender</label>
						<select  name="gender" form="userRegistration">
							<option value="male">male</option>
							<option value="female">female</option>
						</select>
					</div>
					<div class="field">
							<label>Height</label>
							<input type="float" name="height" placeholder="5.9">
						</div>
					
					<div class="field">
						<label>Date of Birth</label>
						<input type="date" name="date_of_birth" placeholder="MM/DD/YYYY">
					</div>
					<div class="field">
							<label>Zipcode</label>
							<input type="text" name="zipcode" placeholder="77777 or 77777-0000">
						</div>
					<div class="field">
						<label>Gender Preference</label>
						<select  name="genderpref" form="userRegistration">
							<option value="male">male</option>
							<option value="female">female</option>
						</select>
					</div>
					<div class="field">
						<label>Age Preference Min</label>
						<input type="number" name="ageminpref" placeholder="">
					</div>
					<div class="field">
						<label>Age Preference Max</label>
						<input type="number" name="agemaxpref" placeholder="">
					</div>
					<div class="field">
						<label>Race</label>
						<input type="text" name="race" placeholder="">
					</div>
					<div class="field">
						<label>Religion</label>
						<input type="text" name="religion" placeholder="">
					</div>
					<button class="ui button" type="submit">Submit</button>
				</form>
		</div>
    </body>
</html>